.moirai-one-regular {
    font-family: "Moirai One", serif;
    font-weight: 400;
    font-style: normal;
  }

html, body {
    font-family: 'Moirai One';
    background: #f3f3eb;
}

h1 {
    font-size: 50px;
    color: #e1e08d;
}

th {
    font-size: 30px;  
    color:#cdbdd7;
}

td {
    font-size: 20px;  
    color:#f1e022;  
}

